[SddmGreeterTheme]
Name=Simply Endeavour
Description=Simply Endeavour SDDM theme.\n Created for EndeavourOS.
Type=sddm-theme
Author=Sandaruwan Samaraweera
Copyright=(c) 2022, Sandaruwan Samraweera
Screenshot=screenshot.jpg
License=MIT
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=simply-endeavour
Theme-API=2.0
Website=https://gitlab.com/isseigx/simplicity-sddm-theme
